html {
  box-sizing: border-box;
  font-size: 75%;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-image: linear-gradient(
    -45deg,
    #272727,
    #272727 50%,
    #d9d9d9 50%,
    #d9d9d9
  );
}

body {
  background-color: #d9d9d9;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 10px;
}

.header__tagline {
  color: #d9d9d9;
}

.logo__container {
  width: 20vw;
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  max-width: 80%;
  text-align: center;
}

.cta a:link,
.cta a:visited {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
  color: #ff0100;
  transition: 0.3s;
}

.cta a:hover {
  color: #8b0101;
}

.gif__container {
  width: 12vw;
  margin-top: 32px;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 100%;
  }

  .logo__container {
    max-width: 80px;
  }
}
